<mat-card>
  <mat-toolbar color="primary">
    <span>All Pokemons</span>
  </mat-toolbar>
  <table mat-table [dataSource]="pokemons" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.name }}</td>
    </ng-container>

    <!-- Type 1 Column -->
    <ng-container matColumnDef="type1">
      <th mat-header-cell *matHeaderCellDef>Type 1</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.type1 }}</td>
    </ng-container>

    <!-- Type 2 Column -->
    <ng-container matColumnDef="type2">
      <th mat-header-cell *matHeaderCellDef>Type 2</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.type2 }}</td>
    </ng-container>

    <!-- Health Point Column -->
    <ng-container matColumnDef="healthPoint">
      <th mat-header-cell *matHeaderCellDef>Health Point</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.healthPoint }}</td>
    </ng-container>

    <!-- Attack Column -->
    <ng-container matColumnDef="attack">
      <th mat-header-cell *matHeaderCellDef>Attack</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.attack }}</td>
    </ng-container>

    <!-- Speed Column -->
    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef>Speed</th>
      <td mat-cell *matCellDef="let pokemon">{{ pokemon.speed }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
